body {
  background-color: lightgray;
  margin: 1rem;
  color: black;
  font-family: sans-serif;
  font-size: 20px;;
}

.newProject {
  display: flex;
  margin-top: 2em;
  border: 5px solid navy;
  padding: 5px;
}


nav {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 15px; 
  border: 1px solid navy; 
  border-radius: 5px; 
  background: lightgray;
  color: #545e6f;
  text-decoration: none; 
  transition: background 0.3s, color 0.3s, border-color 0.3s; 
}

li:hover {
  color: #fff; 
  background: darkgrey; 
  border-color: darkgray;
}

.dangerButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.editButton {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.successButton {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.userContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  border: 1px solid green;
  padding: 3px;
}

.updateForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5px;
}

.homeTitle {
  color: navy;
  font-weight: 700;
  font-size: larger;
  margin-top: 2em;
  text-align: center;
  padding: 5px;
}
